/* Write your CSS here */

.cardItems {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #b5b7c4;
  padding: 15px;
  border-radius: 6px;
}

.cardDetails {
  display: flex;
  justify-content: space-between;
}

.name {
  font-weight: bold;
  color: #171f46;
}

.cardbutton {
  background-color: transparent;
  border-width: 0px;
}

.date {
  color: #b5b7c4;
}
